header {
    margin-bottom: 20px;
    left: 20px;
}

.cart .orderDetails {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: calc(100% - 320px);
    height: calc(100% - 120px);
    max-height: 150vh;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 80px;
}

.cart .customerD {
    position: relative;
    top: 70%;
    right: 15px;
    transform: translateY(-50%);
    width: 700px;
    height: 150%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.cart .customerD h4 {
    margin-right: auto;
}

.cart .customerD .login {
    margin-top: 5px;
    margin-left: auto;
    color:  rgb(62 49 250);
    font-size: 12px;
    right: 5px;
}

.cart .customerD .login:hover {
    text-decoration: underline;
}

.cart .customerD input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.cart .customerD input:focus {
    border-color: rgb(62, 49, 250);
    box-shadow: 0 0 5px  rgb(62, 49, 250);
}

.cart .contact-info {
    display: flex;
    justify-content: space-around;
}

.cart .contact-info input[type="email"],
.cart .contact-info input[type="tel"]{
    margin-left: -88px;
    width: calc(250% - 5px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.cart .contact-info input[type="email"]:focus,
.cart .contact-info input[type="tel"]:focus {
    border-color: rgb(62, 49, 250);
    box-shadow: 0 0 5px  rgb(62, 49, 250);
}

.cart .orderDetails hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.cart .house-info {
    display: flex;
}

.cart .house-info > div {
    flex: 1;
    margin-right: 10px;
}

.cart .house-info input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.cart .house-info input[type="text"]:focus {
    border-color: rgb(62, 49, 250);
    box-shadow: 0 0 5px  rgb(62, 49, 250);
}

.cart .btn-container {
    margin-top: 60px;
    margin-bottom: 20px;
    position: relative;
    right: -450px;
    color: #ffffff;
    width: auto;
    box-shadow: 0 2px;
}

.cart .btn-primary {
    background-color: rgb(62 49 250);
    border-radius: 16px;
    width: auto;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart .shopping-cart {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 500px;
    height: calc(100% - 120px);
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 80px;
}

.cart .product-container {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 40px;
}

.cart .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #989696;
    border-radius: 16px;
}

.cart .product-Price {
    margin-top: -6px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.cart .product img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.cart .product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.cart .product-info + .product-info {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.cart .input-group .btn {
    width: 30px;
    height: 30px;
    font-size: 14px;
    padding: 0;
    margin: 0 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    cursor: pointer;
}

.cart .input-group .btn:hover {
    background-color: #ccc;
}

.cart .input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    margin-bottom: 20px;
}

.cart .input-group input {
    max-width: 30px;
    height: 30px;
    font-size: 15px;
    padding: 0;
    margin: 0 5px;
    border: none;
    text-decoration: none;
}

.cart .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 350px;
}

.cart .icon-container i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: black;
}

.cart .icon-text:hover {
    text-decoration: underline;
}

.cart .checkout {
    position: fixed;
    top: 430px;
    right: 0;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
}

/* .btn {
    border: none;
    margin-top: 13px;
    color: rgb(95, 33, 171);
}

.btn:hover {
    text-decoration: underline;
}

.btn.btn-primary {
    width: 40%;
    padding: 10px;
    background-color: rgb(95, 33, 171);
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 20px;
    line-height: 32px;
    margin-top: 10px;
}

.btn.btn-primary:hover {
    background-color: rgb(86, 26, 160);
    text-decoration: none;
} */