/* כללי */
.client {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    flex-direction: row;
    flex-basis: auto;
} 

/* personal data card */
.client .personal_data {
    border: 2px solid rgba(44, 105, 130, 0.519);
    background-color: rgba(130, 198, 217, 0.382);
    padding: 8%;
    border-radius: 18px;
    margin-bottom: 10px;
    height: 100%;
    overflow: hidden;
}

.client .client_details {
    width: 25%;
}

.client .btn_client {
    height: 8%;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 25%;
    margin-bottom: 5%;
    font-size: 120%;
    background-color: #c9c0c03c;
    overflow: hidden;
}

.client img.user-image {
    width: 60%;
    margin-left: 25%;
}

/* history and favorite section */
.client .mt-md-5 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.client .tab-content mt-0 mt-md-5 {
    display: flex;
    justify-content: space-evenly;
}

.client .tab-content>.active {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: auto;
    height: 550px;
    scrollbar-width: none;
}

.client .history-line {
    margin-top: 45px;
}

.client .yourhistory {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5%;
    border: 2px rgba(203, 236, 249, 0.519);
    background-color: rgba(130, 198, 217, 0.382);
    padding: 20px;
    border-radius: 15px;
    margin: 0 10px;
    max-height: 60%;
    width: 62%;
}

.client .product {
    margin-bottom: 20px;
    border: 1px solid #989696;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
}

.client .product img {
    width: 55%;
}

.client .product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.favorite_list, .order {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* או כל מרווח אחר שאתה רוצה בין הפריטים */
    padding: 20px;
}

.order-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.items-header, .order-header {
    text-align: center;
    margin-bottom: 20px;
}

.product {
    margin: 10px 10px;
}

.product-name {
    font-size: 20px;
    text-align: center;
}

.no-favorite-items, .no-orders {
    text-align: center;
    margin-top: 20px;
}
