.edit-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--almost-white);
    overflow-y: scroll;
}

.edit-ticket form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.edit-ticket article {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: var(--card-bsh);
    min-height: 400px;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid var(--l-gray); /* הוספת גבול בצבע אפור */
}

.edit-ticket .edit-img_info {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.edit-ticket .edit-imgs,
.edit-ticket .edit-txt {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.edit-ticket h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    margin-top: -100px;
    font-size: 2em;
    color: var(--primary-color);
}

.edit-ticket h3 {
    margin: 10px 0;
    text-align: center;
    color: var(--secondary-color);
}

.edit-ticket button {
    background-color: white;
    border: 1px solid var(--l-gray);
    border-radius: 10px;
    margin: 3px 2px;
    padding: 5px 15px;
}

.edit-ticket button:hover {
    background-color: var(--ll-gray);
    transform: scale(1.10);
}

.edit-ticket label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    padding: 5px;
}

.edit-ticket input {
    flex: 1;
    border: 1px solid var(--l-gray);
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 10px;
    min-width: 50px;
}

.edit-ticket input:focus {
    outline: none;
}

.edit-ticket input:hover {
    transform: scale(1.05);
}

.edit-ticket li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 5px;
    align-items: center;
}

.edit-ticket img {
    height: 170px;
    border-radius: 5%;
}

#addButton {
    width: 500px;
    height: 80px;
    font-size: 30px;
}
