.edit-shirt-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.edit-shirt {
    /* width: 50vw; */
    /* height: 70vh; */
    /* position: relative; */
     display: flex; 
     flex-direction: column;
align-items: center;
justify-content: center; 

}

.shirt-template {
    position: absolute;
    height: 100%;
    width: 100%;
}

#myCanvas {
    /* z-index: 1000; */
    /* width: 100px; 
    height: 100px;  */
    width: 500px;
    height: 500px;
    /* background-image: url('../imgs/general/shirt.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  */
    /* border:1px solid #000; */
}

.remark {
    margin: 5px;
    color: gray;
}
.buttons-container button,.buttons-container select, .buttons-container input {
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgray;
    margin: 5px;

}
.buttons-container button{
    cursor: pointer;
}
.buttons-container button:hover{
    background: rgb(239, 239, 239);

}
.text-container{
    display: flex;
}

.color {
    width: 30px;
    /* Increase the width */
    height: 30px;
    /* Increase the height */
    border: none;
    /* Remove button border */
    margin: 5px;
    /* Spacing between buttons */
    cursor: pointer;
    outline: none;
}

.color-button {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    color: white;
    /* לשים צבע לטקסט שמתאים לרקע */
}

.color-palette {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-palette .color {
    width: 20px;
    height: 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none;
}

#colorPicker,
#colorShirtPicker {
    display: flex;
}

#colorPicker .color:hover,
#colorShirtPicker .color:hover {
    opacity: 0.7;
}

#colorPicker .color,
#colorShirtPicker .color {
    width: 30px;
    height: 30px;
    margin: 5px;
    /* display: block; */
    border-radius: 50%;
    outline: 1px solid lightgray;

}



.color-palette .color:hover {
    opacity: 0.7;

}

#saveBtn,
#undoBtn,
#redoBtn,
#clearBtn,
#colorBtn,
#colorShirt,
#addTextBtn,
#textInput {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
}

.btn-custom {
    font-size: 18px;
    /* גודל פונט */
    padding: 10px 20px;
    /* גודל הכפתור */
    margin: 5px;
    /* מרווח בין הכפתורים */
}


.buttons-container {
    display: flex;
    flex-direction: column;
    /* align-items: start;
    justify-content: start; */
    /* margin-left: 20px; */
}

.edit-button {
    margin-bottom: 10px;
    width: 100px;
}