.edit-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--almost-white);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.edit-ticket form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    justify-content: center;
    max-width: 1200px;
}

.edit-ticket article {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow around the article */
    min-height: 400px;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid var(--l-gray);
}

.edit-ticket .edit-img_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.edit-ticket .edit-imgs,
.edit-ticket .edit-txt {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-ticket h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 3px;
}

.edit-ticket h3 {
    margin: 10px 0;
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.5em;
}

.edit-ticket button {
    border: none;
    border-radius: 18px;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
    color: rgb(75, 74, 74);
    cursor: pointer;
}

#updateButton {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

#deleteButton{
    color: white;
    background-color: rgb(201, 201, 201);
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}


#deleteButton:hover{
    transform: scale(1.1);
    background-color: red;

}
#updateButton:hover{
    transform: scale(1.1);

}

.file-btn {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.file-btn:hover {
    transform: scale(1.10);
}

.deleteImg {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.deleteImg:hover {
    transform: scale(1.10);
    background-color: red;
    color: white;
}

.edit-ticket label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    width: 100%;
    padding: 5px;
    font-size: 1em;
    gap: 10px;
}

.edit-ticket label p {
    flex: 0 0 150px; /* Fixed width for label text */
    margin: 0;
}


.edit-ticket #date{
    cursor: pointer;
}

.edit-ticket input {
    flex: 1;
    border: 1px solid var(--l-gray);
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: 5px;
    margin-right: 10px;
    min-width: 50px;
    font-size: 1em;
    transition: transform 0.3s; /* Smooth transition effect */
}

.edit-ticket input:focus {
    outline: none; /* Remove default outline */
    border-color: var(--primary-color); /* Highlight border on focus */
}

.edit-ticket input:hover {
    transform: scale(1.05); /* Slightly enlarge input on hover */
}

.edit-ticket li {
    display: flex;
    flex-direction: column;
    list-style-type: none; /* Remove default list style */
    margin: 5px;
    align-items: center;
}

.edit-ticket img {
    height: 170px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#addButton {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    width: 100%;
    max-width: 400px; /* Reduced max-width */
    height: 60px; /* Reduced height */
    font-size: 1.2em; /* Reduced font size */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition effects */
}

#addButton:hover {

    transform: scale(1.10); /* Slightly enlarge button on hover */
}

.modal-dialog {
    border-radius: 20px;
    overflow: hidden; /* Hide overflow content */
}

.modal-content {
    border-radius: 20px;
    border: none;
    box-shadow: 0 12px 24px rgba(88, 127, 249, 0.6); /* Soft shadow around the modal */
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
}

.modal-header, .modal-footer {
    border: none;
    justify-content: center;
    font-size: 1em;
    padding: 20px;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
}

.modal-header {
    border-top-left-radius: 20px; /* Rounded corners for header */
    border-top-right-radius: 20px;
}

.modal-footer {
    border-bottom-left-radius: 20px; /* Rounded corners for footer */
    border-bottom-right-radius: 20px;
}

.modal-body {
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    font-size: 1.2em;
}

/* Media Queries */
@media (max-width: 768px) {
    .edit-ticket form {
        grid-template-columns: 1fr; /* עמודה אחת למסכים קטנים */
    }

    .edit-ticket .edit-img_info {
        flex-direction: column;
        gap: 10px;
    }
}
