/* This specifies the name of our animation. */
@keyframes move-words {
    /*which means the text is completely off-screen to the right. */
    0% {
        left: 100%;
    }

    /* This creates the effect of the text moving from right to left across the screen. */
    100% {
        left: -100%;
    }
}

footer {
    background-color: whitesmoke;
    background-image: url('../imgs/footer/abstract-bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

/* Lines surrounding moving words in footer */
footer .words-border {
    margin: 20px 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, var(--red), var(--blue), var(--gold));
}

/* Moving words in footer */
footer .words {
    position: relative;
    font-size: 800%;
    width: max-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: move-words 20s linear infinite;
    margin: 0;

    /* Giving words a gradient color */
    background: linear-gradient(90deg, var(--red), var(--blue), var(--gold)); 
    -webkit-background-clip: text; /* Fill the text with the gradient background */
    -webkit-text-fill-color: transparent; /* Turn the whole gradient-background transparent */
}

/* Every section in footer */
footer nav {
    display: flex;
    margin-inline: 30px;
    font-weight: bold;
}

/* The list of pages in the website */
footer .pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 19px;
}

footer .pages a {
    cursor: pointer;
    color: inherit;
}

footer .pages a:hover {
    text-shadow: var(--txtsh);
    opacity: 0.8;
}

/* Create two columns in footer pages list */
footer .pages .start,
footer .pages .end {
    display: flex;
    flex-direction: column;
}

/* Sponsors icon will have a separating line from social media */
footer .sponsors {
    border-bottom: 1px solid gray;
}

footer .sponsors,
footer .contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-block: 30px;
}

footer .sponsors img,
footer .contact img {
    cursor: pointer;
    height: 40px;
    padding: 10px;
    box-sizing: content-box; /* The height of the img won't include the padding */
}

footer .logo {
    text-align: center;
}

footer .logo img {
    height: 450px;
}

footer {
    position: relative;
    bottom: -73px; /* Because the main is 73px from top, we don't want the footer to be covered */
}

@media (max-width: 600px) {
    footer {
        position: relative;
        bottom: -100px; /* Because the main is 100px from top, we don't want the footer to be covered */
    }
}
