header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: var(--almost-white);
  border-bottom: 1px solid rgba(140, 140, 140, 0.384);
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

header .end-icons {
  display: flex;
}

header nav a:hover {
  color: inherit;
  text-decoration: none;
}

header nav a {
  text-decoration: none;
  color: inherit;
}

header .signin-btn,
header .cart-btn,
header .menu-toggle-btn {
  align-self: center;
}

header .start-icons {
  display: flex;
  align-items: center;
}

header .logo {
  margin: auto 0 auto 30px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

header .signin-btn p,
header .cart-btn p {
  margin: 0;
}

header .signin-btn i {
  font-size: 20px;
}

header .signin-btn,
header .cart-btn {
  margin-inline-end: 10px;
  background: none;
  border-radius: 8px;
  border: none;
  padding: 3px 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

header .signin-btn:hover,
header .cart-btn:hover {
  text-shadow: var(--txtsh);
  color: var(--blue);
}

header .signin-btn {
  margin: auto 30px auto 0;

}

/* MOBILE */
@media (max-width: 600px) {

  header .start-icons {
    width: 100%;
  }

  header .signin-btn p,
  header .cart-btn p {
    display: none;
  }

  header nav {
    text-align: center;
    display: flex;
    position: absolute;
    top: 100px;
    transform: translateY(0%);
    width: 100%;
    flex-direction: column;
    background: #292929f7;
    max-height: 0;
    justify-content: flex-end;
    overflow: hidden;
    transition: max-height 0.6s;
  }

  body.menu-open nav {
    max-height: 100vh;
  }

  header nav a {
    padding: 1rem 0;
    border: none;
    background-color: var(--almost-white);
    border-bottom: 1px solid rgb(218, 218, 218);
  }

  header nav a:hover:not(.active) {
    background-color: var(--m-gray);
  }

  header nav a.active {
    background-color: var(--l-gray);
    cursor: auto;
  }

  .dark-screen {
    position: fixed;
    inset: 0;
    background-color: black;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
    z-index: 1;
  }

  body.menu-open .dark-screen {
    pointer-events: auto;
    opacity: 1;
  }

  .menu-toggle-btn {
    background: none;
    border: none;
    font-size: 30px;
    margin: auto 30px auto 0;
  }

  .menu-toggle-btn:hover {
    color: var(--blue);
  }

}

/* TABLET */
@media (min-width: 600px) {

  header {
    top: auto;
    width: auto;
    position: static;
    height: 73px;
  }

  header nav a.active {
    border: none;
    margin: 0.25em 0.8em;
    border-bottom: 1px solid black;
    cursor: default;
  }

  header nav a:not(.active) {
    margin: 0.25em 0.8em;
  }

  header .header-btn:not(.active):hover {
    text-shadow: var(--dark-txtsh);

  }

  .menu-toggle-btn,
  .dark-screen {
    display: none;
  }
}

/* DESKTOP */
@media (min-width: 970px) {
  header .logo {
    margin: auto 0 auto 81px;
  }

  header nav {
    margin: auto 263px auto 0;
  }
}