header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--almost-white);
  border-bottom: 1px solid rgba(140, 140, 140, 0.384);

  height: 100px;
  width: 100%;
  padding: 30px;

  /* Stay at the top always */
  position: fixed;
  top: 0;

  /* Make the header appear above all elemnts */
  z-index: 16;
}

/* Remove a tags default styling */
header nav a {
  text-decoration: none;
  color: inherit;
}

/* Remove a tags default styling */
header nav a:hover {
  color: inherit;
  text-decoration: none;
}

header .start-icons,
header .end-icons {
  display: flex;
  align-items: center;
}

header .logo {
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
}

/* Remove default margin in p tag */
header .signin-btn p,
header .cart-btn p {
  margin: 0;
}

header .signin-btn i {
  font-size: 20px;
}

header .signin-btn,
header .cart-btn {
  cursor: pointer;
  text-align: center;
  margin-inline-end: 10px;
  padding: 3px 10px;
  background: none;
  /* Remove a tag default styling */
  color: inherit;
  text-decoration: none;
}

header .signin-btn:hover,
header .cart-btn:hover {
  text-shadow: var(--txtsh);
  color: var(--blue);
}

/* MOBILE */
@media (max-width: 600px) {

  .menu-toggle-btn{
    position: relative;
  }

  /* In small screens create a dropdown effect */
  header nav {
    /* Start the dropdown below the header */
    position: absolute;
    top: 100px;
    /* Position the items in the dropdown */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
/* Give dropdown no height at first for later transition */
    max-height: 0;
    transform: translateY(0%);
    transition: max-height 0.6s;
    overflow: hidden;
  }

  body.menu-open nav {
    max-height: 100vh;
  }

  header .start-icons {
    width: 100%;
  }

  header nav a {
    padding: 1rem 0;
    border: none;
    background-color: var(--almost-white);
    border-bottom: 1px solid rgb(218, 218, 218);
  }

  header nav a:hover:not(.active) {
    background-color: var(--m-gray);
  }

  header nav a.active {
    background-color: var(--l-gray);
    cursor: auto;
  }

  /* Remove text in sign in and cart buttons for minimal display */
  header .signin-btn p,
  header .cart-btn p {
    display: none;
  }

  .dark-screen {
    position: fixed;
    inset: 0;
    background-color: black;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
    z-index: 16;
  }

  body.menu-open .dark-screen {
    pointer-events: auto;
    opacity: 1;
  }

  .menu-toggle-btn {
    background: none;
    border: none;
    font-size: 30px;
  }

  .menu-toggle-btn:hover {
    color: var(--blue);
  }
}

/* TABLET */
@media (min-width: 600px) {

  header {
    height: 73px;
  }

  header nav a.active {
    border: none;
    margin: 0.25em 0.8em;
    border-bottom: 1px solid black;
    cursor: default;
  }

  header nav a:not(.active) {
    margin: 0.25em 0.8em;
  }

  header .header-btn:not(.active):hover {
    text-shadow: var(--dark-txtsh);

  }

  .menu-toggle-btn,
  .dark-screen {
    display: none;
  }
}