.home {
    background-color: var(--almost-white);
}

/* Style for the welcome section */
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    width: 100%;
}

.welcome video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome a {
    margin-top: 170px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff; /* Adjust button background color */
    color: #000; /* Adjust button text color */
    border: none;
    border-radius: 8px;
    z-index: 1; /* Ensure the button stays above the background */
    background-color: goldenrod;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.welcome a p {
    display: inline; /* Ensure p inside button is inline */
    margin: 0; /* Remove default margin */
    font-weight: bold;
}

.home .welcome a:hover {
    background-color: gold;
    transform: scale(1.2);
}

/* Remove default p tag margin */
.home .welcome a p {
    margin: 0;
}

/* SLIDER STYLING */

.home .carousel {
    width: 430px; /* שמירה על רוחב הקרוסלה המקורי */
    margin-left: -50%; /* הזזת הקארוסלה שמאלה */
    background: linear-gradient(135deg, #1d428a 0%, #ffffff 50%, #ffd700 100%); /* רקע גרדיאנט */
    border-radius: 20px; /* עיגול פינות */
    padding: 20px; /* ריווח פנימי */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* מוסיף צל */
}

.home .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: space-around; /* מבטיח ריווח אחיד בין הכותרות ובין הקצוות */
    align-items: center; 
    width: 100%; /* מאפשר לפלקסבוקס להשתמש בכל הרוחב */
    padding: 20px 1%; /* מרווח פנימי מותאם */
    box-sizing: border-box; /* מבטיח שה-padding ייכלל ברוחב הכולל */
}

.players-title, .score-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 4px; 
    background: linear-gradient(45deg, #aa9104, #ffd700); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
    margin-top: 15px; 
    margin-bottom: 0px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home .carousel-inner img {
    height: 500px; 
    width: auto; 
    border-radius: 20px; 
}

/* Style side buttons in slider */
.home .change-slide-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--l-gray);
}

/* Style text in slider */
.home .carousel-caption {
    text-shadow: var(--dark-txtsh);
    color: black;
    background-color: #ffffffb9;
    border-radius: 20px;
    padding: 10px;
}

#weather-container {
    border: 2px solid #1d428a; /* כחול כהה של ריאל מדריד */
    border-radius: 20px;
    padding: 20px;
    width: 90%; /* מתפרס לרוחב המסך */
    background-color: #ffffff; /* לבן */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* מוסיף צל */
    margin: 20px auto; /* מרכז את הקונטיינר */
    margin-top: 110px;
    display: flex; /* שימוש ב-Flexbox */
    justify-content: space-around; /* מרווח בין התחזיות */
    align-items: center; /* ממרכז את התחזיות אנכית */
    transition: transform 0.3s ease-in-out; /* אנימציית מעבר חלקה */
    flex-wrap: wrap; /* עוטף שורות אם יש צורך */
    background: linear-gradient(135deg, #ffffff 0%, #e7e7e7 100%); /* מעבר צבעים לרקע לבן */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#weather-container:hover {
    transform: scale(1.02); /* הגדלת הקונטיינר מעט בעת ריחוף */
}

#weather-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #1d428a; /* כחול כהה של ריאל מדריד */
    text-align: center;
    width: 100%; /* מרחיב את הכותרת לכל רוחב הקונטיינר */
    background: linear-gradient(45deg, #1d428a, #ffd700); /* מעבר צבעים לכותרת: כחול וזהב */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.daily-forecast {
    border: 1px solid #1d428a; /* כחול כהה */
    margin: 10px;
    padding: 10px; /* הקטנת הפדינג */
    background-color: #ffffff; /* לבן */
    border-radius: 16px; /* עיגול פינות של כל תחזית */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; 
    flex: 1; 
    min-width: 150px; 
    max-width: 180px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.daily-forecast:hover {
    background-color: #ffd700; /* רקע זהב בעת ריחוף */
    transform: scale(1.05); /* הגדלת התחזית מעט בעת ריחוף */
}

.forecast-title {
    font-weight: bold;
    font-size: 18px; 
    color: #1d428a; 
    margin-bottom: 5px; 
}

.forecast-details {
    display: none;
    font-size: 14px;
    color: var(--gray);
}

.daily-forecast:hover .forecast-details {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.widget {
    width: 40%; 
    height: 545px; 
    background-color: white; 
    border: 1px solid #ccc; 
    float: right; 
    margin-bottom: 20px;
    margin-top: -540px;
    margin-right: 100px;
    border-radius: 10px;
    overflow-y: auto; 
}
