* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    border: none !important;

}

body {
    margin: 0px 0;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 75px;
    height: auto;
}

.login {
    text-align: center;
}

h1, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.userDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.userDetails:hover{
    transform: scale(1.01);
}

.userDetails input[type="email"] {
    background-color: #edeff2;
    width: 394px;
    height: 64px;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-size: 16px;
    outline: none;
}

.userDetails input[type="email"]:focus {
    border-color: rgb(62, 49, 250);
    box-shadow: 0 0 5px rgb(62, 49, 250);
}



#cant {
    color: rgb(62, 49, 250);
    margin-bottom: 20px;
}

h4 {
    color: #b0b0b0;
    margin-top: 20px;
}

#cant:hover {
    text-decoration: underline;
}

.btn-container, .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userDetails + .userDetails {
    margin-top: 20px;
}

.btn-primary {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    border-radius: 20px;
    width: 394px;
    height: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.btn-primary:hover{
    transform: scale(1.04);
    font-size: 23px;
}

.btn-primary:focus, 
.btn-primary:active, 
.btn-primary:focus:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.text-box, hr {
    max-width: 600px;
    padding: 20px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    margin-top: -18px;
}

.userDetails {
    background-color: #edeff2;
    width: 394px;
    height: 64px;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
}

#register-btn{
    padding: 60px;
    transition: transform 0.3s ease;
}

#register-btn:hover{
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -7px;

}

.image-upload img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
}

.image-upload input[type="file"] {
    display: none;
}

.image-upload label {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    border-radius: 13px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.image-upload label:hover{
    transform: scale(1.04);
    font-size: 18px;
}

.image-upload .deleteImg {
    margin-top: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Modal styling */
.modal-dialog {
    border-radius: 30px;
    overflow: hidden;
}

.modal-content {
    border-radius: 30px;
    border: none;
    box-shadow: 0 12px 24px rgba(88, 127, 249, 0.6);
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    position: relative;
}

.modal-header, .modal-footer {
    border: none;
    justify-content: center;
    font-size: 1em;
    padding: 20px;
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    color: white;
}

.modal-header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-footer {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.modal-body {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.text-danger {
    margin-top: 10px;
    text-align: center;
}

.sign-in-container {
    text-align: center; /* מרכז את הטקסט */
    margin-top: -60px; /* מרווח עליון */
    padding-bottom: 30px;
}

.separator {
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.sign-in-text {
    margin: 0; 
    font-size: 16px; 
}

.sifn-in-text a{
    transition: text-shadow 0.3s ease, text-decoration 0.3s ease;
}
.sign-in-text a:hover{
text-decoration: underline;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}
