body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/Users/zivelgrabli/Desktop/Final-Project-app-dev-course/public/styles/imgs/news/realMadridLogo - news .jpeg'); /* קישור לתמונת הרקע */
    background-size: cover; /* מקטין את התמונה למקרא הגדול ביותר */
    background-position: center; /* מיושר את התמונה למרכז העמוד */
    background-repeat: no-repeat; /* אין חזרות של התמונה */

}



header, footer {
    background-color: #1f21a5; 
    color: #fff; 
    text-align: center;
    padding: 20px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* הגדרת הגופן */
    font-size: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

section {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 100px; 
}

section h2 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    color: rgb(255, 255, 2);
    padding: 10px; 
}


article {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px; 
    border-radius: 15px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article h3 {
    margin-top: 0;
    color: #424242; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold;
}

footer {
    background-color: #1f21a5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    border-radius: 10px; 
}

