<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Google OAuth Example</title>
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script>
    var auth2;

    function initGoogleAuth() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '271442283504-dgupjhrv4sovp9urp83gak5itrag28jh.apps.googleusercontent.com'
        });
      });
    }

    function signIn() {
      auth2.signIn().then(function() {
        var profile = auth2.currentUser.get().getBasicProfile();
        console.log('ID: ' + profile.getId());
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail());
      });
    }

    function signOut() {
      auth2.signOut().then(function() {
        console.log('User signed out.');
      });
    }
  </script>
</head>
<body>
  <button onclick="signIn()">Sign in with Google</button>
  <button onclick="signOut()">Sign out</button>
  <script>
    gapi.load('auth2', function() {
      gapi.auth2.init({
        client_id: '271442283504-dgupjhrv4sovp9urp83gak5itrag28jh.apps.googleusercontent.com'
      });
    });
  </script>
</body>
</html>
