<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <!-- Form that sends a post method to /login route -->
    <form action="/login" method="post">
        <input name="username">
        <input name="password" type="password">
        <input type="submit">
    </form>
    <!-- In order to register, the client will be sent to the register page -->
    <a href="/login/register">Register</a>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
</body>
</html>