:root {
    /* colors */
    --almost-white: whitesmoke;
    /* --l-yellow: rgb(251, 252, 219); */
    --l-gray: rgb(219, 219, 219);
    --m-gray: rgb(235, 235, 235);

    /* shadows */
    --bsh: 1px 1px 4px 0px #00000028;
    --txtsh: 0px 0px 2px #00000032;
}